.container {
    min-height: 60vh;
    background-image: linear-gradient(to right,#6393eb8f,#1152cbe2);
}
.projectContainer {
    width: 250px;
    height:160px;
    padding: 8px;
    border-radius: 4px;
    background-color: #ffffffa2;
}
.projectContainer img {
    height: 100%;
    border-radius: 4px;
}
.imagesContainer {
    gap:14px;
}
.heading {
    padding-top: 18px;
    color: white;
    text-align: center;
    width: 180px;
    border-bottom: 3px solid black;
    padding-bottom: 8px;
}
.button {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
    border: none;
    transition: 0.3s;
}
.button:hover {
    color: #0000ffa5;
}
.selectedBtn {
    padding-bottom: 2px;
    border-bottom: 3px solid black;
}