
.container {
    background-color:#19376D ;
    gap: 8px;
    color: white;
}
.contactHead h1,h4 {
    font-family: 'Outfit' !important;
}
.formContainer {
    background-image: linear-gradient(to right,#87cfeb5d,#add8e68f);
    padding: 14px;
    border-radius: 8px;
    padding-bottom: 18px;
}